.sidebar, .dashboardWel {
    background-image: linear-gradient(40deg, #476e67, #215158);
    width: 100%;
    color: white !important;
    font-weight: 600;
    /* position: fixed; */
}
.dash-container {
    /* height: 100vh;*/
    width: 100vw;
    /* margin-top: -7vh; */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('https://www.wanderon.in/triplist/main-cover.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.sidebar li {
    margin-bottom: 2em;
}

.sidebar li:hover span {
    display: inline-block;
    transform: translate(5px);
}

.sidebar svg {
    margin-right: 5px;
}
label{
    color: azure;
}
.add-blog span{
    color: red;
}