.navbar-collapse {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.contact-content {
    text-align: center;
    margin: 0 auto;
    padding-top: 0 !important;
}

.contact-content img {
    height: 1.3vw;
    margin-right: 1vh;
}

.contact-content a {
    font-size: 1vw;
    font-weight: 400;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 78%) !important;
    font-size: 1.9vh;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255 / 78%) !important;
}

.navbar-light .navbar-nav .nav-link:hover div {
    width: 100%;
}

.nav-line {
    margin-top: 4px;
    margin-bottom: 0px;
    width: 0px;
    height: 3px;
    background-color: white;
    transition: all 0.1s ease-in-out 0s;
    border-radius: 50px;
}