.contact-content {
    text-align: center;
    margin: 0 auto;
    padding-top: 0 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 78%) !important;
    font-size: 2.9vh;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255 / 78%) !important;
}

.navbar-light .navbar-nav .nav-link:hover div {
    width: 100%;
}

.nav-line {
    margin-top: 4px;
    margin-bottom: 0px;
    width: 0px;
    height: 3px;
    background-color: white;
    transition: all 0.1s ease-in-out 0s;
    border-radius: 50px;
}

.main-button {
    font-size: 1.9vh;
    font-weight: bold !important;
    padding: 1rem 1rem !important;
    /* border-radius: 25px !important; */
    background: #17a2b8;
    color: #fff;
    border: 0;
}

.nav-bg {
    background-color: rgb(21, 21, 21) !important;
    color: white !important;
}