.socialReviews-container {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
    justify-content: center;
}

.reviewItem {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 60px;
}

.socialRating {
    display: flex;
    flex-direction: row;
    margin: 8px 0px 4px;
}

.socialRating img {
    height: 2vw;
    margin-right: 4px;
}

.rating {
    font-size: 2vw;
    font-weight: 400;
    color: rgba(58, 58, 58, 0.8);
}

.rating-count {
    font-size: 1vw;
    font-weight: 400;
    color: rgba(58, 58, 58, 0.8);
}